@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --dark: #14152a;
    --light: #2f3046;
    --material: #3a3fc5;
    --text: #cccfd7;
    --red: #a15250;
    --green: #3f604d;
}

body {
    width: 100%;
    height: 100vh;
    /* background-color: var(--light); */
    color: white;
    font-family: 'Open Sans';
    overflow: hidden;  
   
}

#body2{
    background-image: url('../images/registration_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;

 
}

.form-container {
    display: block;
    height: 77vh;
    background-color: var(--dark);
    margin: auto;
    width: 30%;
    border-radius: 40px;
  
   
}

#formParent{
    width: 100%;
    height: 10vh;
}

.inputs {
    display: block;
    text-align: left;
    margin: auto;
    margin-top: 30px;
}

.inputs input {
    display: block;
    margin: auto;
    margin-top: 7px;
    width: 70%;
    height: 6vh;
    border-radius: 10px;
    background-color: var(--light);
    text-align: center;
    font-size: 15px;
    color: white;
    font-size: 17px;
    border: none;
    outline: none;
    margin-top: 4%;
}

.inputs input:focus{
    border: solid 2px var(--material);
}

.form-container button {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 30%;
    height: 6vh;
    background-color: var(--material);
    color: snow;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 3px;
}

.reg {
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-top: 10%;

    letter-spacing: 3px;
}

.login-redirect {
    display: flex;
    
}
.login-redirect a{
    color: var(--material);
}
 
/* ####### LOGIN PAGE  ####### */

#body3 {
    background-image: url('../images/registration_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

.log-container {
    display: block;
    height: 56vh;
    background-color: var(--dark);
    margin: auto;
    width: 30%;
    border-radius: 40px;
}

.log-inputs {
    display: block;
    text-align: left;
    margin: auto;
    margin-top: 30px;
}

.log-inputs input {
    display: block;
    margin: auto;
    margin-top: 7px;
    width: 70%;
    height: 6vh;
    border-radius: 10px;
    background-color: var(--light);
    text-align: center;
    font-size: 15px;
    color: white;
    font-size: 17px;
    border: none;
    outline: none;
    margin-top: 4%;
}

.log-inputs input:focus{
    border: solid 2px var(--material);
}

.log-container button {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 30%;
    height: 6vh;
    background-color: var(--material);
    color: snow;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 1.5px;
    border: none;
}

.log-container button:hover {
    cursor: pointer;
}

.log {
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-top: 10%;

    letter-spacing: 3px;
}

.reg-redirect a {
    color: var(--material);
}

p{
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 5%;
}
    


::-webkit-scrollbar {
    display: none;
}

p{
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 5%;
}


/* ####### LOGIN PAGE  ####### */

#body3 {
    background-image: url('../images/registration_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

.log-container {
    display: block;
    height: 56vh;
    background-color: var(--dark);
    margin: auto;
    width: 30%;
    border-radius: 40px;
}

.log-inputs {
    display: block;
    text-align: left;
    margin: auto;
    margin-top: 30px;
}

.log-inputs input {
    display: block;
    margin: auto;
    margin-top: 7px;
    width: 70%;
    height: 6vh;
    border-radius: 10px;
    background-color: var(--light);
    text-align: center;
    font-size: 15px;
    color: white;
    font-size: 17px;
    border: none;
    outline: none;
    margin-top: 4%;
}

.log-inputs input:focus{
    border: solid 2px var(--material);
}

.log-container button {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 30%;
    height: 6vh;
    background-color: var(--material);
    color: snow;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 1.5px;
    border: none;
}

.log-container button:hover {
    cursor: pointer;
}

.log {
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-top: 10%;

    letter-spacing: 3px;
}

.reg-redirect a {
    color: var(--material);
}

p{
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 5%;
}